page-specials {

  ion-content {
    background-image: url('../../assets/imgs/background.jpeg');

  }
  ion-thumbnail img{
  }

  ion-item h2{
    color: #ff9e3c;
  }

  .item.item-block{
    background-color: #1c1c1c !important;
  }

  ion-icon {
    color: #8e9093;
  }
}
